<!-- WRAPPER -->
<div id="wrapper" class="theme-blue">
    <div class="vertical-align-wrap">
        <div class="vertical-align-middle auth-main">
            <div class="auth-box">
                <div class="mobile-logo">
                    <a href="index.html"><img src="images/feedback.svg" alt="Bulk-Message"></a>
                </div>
                <div class="auth-left">
                    <div class="left-top">
                        <a href="index.html">
                            <img src="images/feedback.svg" alt="Bulk-Message">
                            <span>Bulk-Message</span>
                        </a>
                    </div>
                    <div class="left-slider">
                        <img src="images/boss.svg" class="svg" class="img-fluid" alt="">

                    </div>
                </div>

                <div class="auth-right">
                    <div class="right-top">
                        <ul class="list-unstyled clearfix d-flex">
                            <!-- <li><a href="index.html"><i class="fas fa-home"></i></a></li> -->
                            <li><a href="javascript:void(0);">Help</a></li>
                            <li><a href="javascript:void(0);">Contact</a></li>
                        </ul>
                    </div>

                    <div class="card">
                        <div class="header">
                            <p class="lead">Create an account</p>
                        </div>
                        <div class="body">
                            <form class="form-auth-small" name="createPasswordForm" valid-submit="savePassword(passwordData)">
                                <div class="form-group">
                                    <label for="signup-email" class="control-label sr-only"></label>
                                    <input name="password" type="password" class="form-control" id="" placeholder="password" data-ng-model="passwordData.password" required>
                                </div>
                                <div class="form-group">
                                    <label for="signup-email" class="control-label sr-only"></label>
                                    <input name="confirmPassword" type="password" class="form-control" id="" placeholder="confirmPassword" data-ng-model="passwordData.confirmPassword" required>
                                </div>
                                <button type="submit" class="btn btn-primary btn-lg btn-block">SUBMIT</button>
                                <div class="bottom">
                                    <span class="helper-text">Already have an account? <a ui-sref="login" class="log">Login</a></span>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END WRAPPER -->